<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/43091864-7504-4117-8ece-819b7ac4ada8/resourceGroups/app-grp/providers/Microsoft.Web/sites/appvm69</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://appvm69.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://appvm69.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$appvm69</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>